accelerate
clean-fid
clip-anytorch
einops
jsonmerge
kornia
Pillow
resize-right
scikit-image
scipy
torch
torchdiffeq
torchsde
torchvision
tqdm
wandb
requests>=2.33.0 # not directly required, pinned by Snyk to avoid a vulnerability
